<!doctype html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Classroom</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    </head>
    <body>

      <!-- menu de navegação -->
      <nav class="red">
        <div class="nav-wrapper">
          <a href="/classroom/" class="brand-logo center">Classroom</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/classroom/quiz/">Quiz</a></li>
            <li><a href="#modal-signup-in-class" class="modal-trigger">Inscrever-se em turma</a></li>
            <li><a href="/classroom/users/">Configurações</a></li>
            <li><a href="/classroom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
          </ul>

          <ul id="slide-out" class="side-nav">
            <li><a href="/classroom/quiz/">Quiz</a></li>
            <li><a href="#modal-signup-in-class" class="modal-trigger">Inscrever-se em turma</a></li>
            <li><a href="/classroom/users/">Configurações</a></li>
            <li><a href="/classroom/logout/">Sair<i class="material-icons right">exit_to_app</i></a></li>
          </ul>
          <a data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>

        </div>
      </nav>

      <!-- lista de turmas -->
      <div class="container">
        <div class="row">
          {% if classes %}
            {% for class in classes %}
              <div class="card">
                <div class="card-content">
                  <span class="card-title"><a href="/classroom/classes/{{ class._id }}/">{{ class.name }}</a></span>
                  <p>{{ class.description }}</p>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <!-- lista de turmas -->
          {% if classes %}
            {% for class in my_classes %}
              <div class="card">
                <div class="card-content">
                  <span class="card-title"><a href="/classroom/user/{{ user }}/classes/{{ class._id }}/">{{ class.name }}</a></span>
                  <p>{{ class.description }}</p>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="fixed-action-btn vertical click-to-toggle">
           <a class="btn-floating btn-large red">
             <i class="material-icons">add</i>
           </a>
           <ul>
             <li>
               <!-- Nova Turma -->
               <a href="#new-class-modal" class="btn-floating btn-large modal-trigger"><i class="material-icons">group_add</i></a>
             </li>

             <!-- Novo Teste-->
             <li>

               <a href="/classroom/quiz/tests/" class="btn-floating btn-large blue modal-trigger"> <i class="material-icons ">assignment</i></a>
             </li>
           </ul>
         </div>
        </div>

      </div>

      <!-- modal de criação de nova turma -->
      <div id="new-class-modal" class="modal">
        <div class="modal-content">
          <h4>Criando nova turma</h4>
          <label>Nome</label>
          <input type="text" id="name">

          <label>Descrição</label>
          <textarea id="description" class="materialize-textarea"></textarea>
        </div>
        <div class="modal-footer">
          <a id="btn-create-class" class="modal-action modal-close waves-effect waves-green btn-flat">Criar</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </div>

      <!-- modal para inscrição em turma pelo ID -->
      <div id="modal-signup-in-class" class="modal">
        <div class="modal-content">
          <div class="row">
            <h4>Inscrevendo-se em nova turma</h4>
          </div>
          <div class="row">
            <label>ID da Turma</label>
            <input type="text" id="modal-class-id">
          </div>
        </div>

        <div class="modal-footer">
          <a id="btn-signup-in-class" class="btn-flat waves-green waves-effect modal-action modal-close">Inscrever-se</a>
          <a class="btn-flat waves-green waves-effect modal-action modal-close">Cancelar</a>
        </div>
      </div>
    </body>
</html>
