<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Classroom</title>

        <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    </head>
    <body>

      <!-- Menu de navegação -->

      <!-- HTML que deve ser mostrado em "/classroom/" -->
      {% if classes %}
        {% include 'classes/navbar.html' %}

        {% include 'classes/show-classes.html' %}
        {% include 'classes/modals.html' %}

        {% include 'classes/floating-button.html' %}
      {% endif %}
      <!-- ============================================= -->

      <!-- HTML que deve ser mostrado em "/classroom/quiz/" -->
      {% if quizzes %}
        {% include 'quiz/navbar.html' %}

        {% include 'quiz/show-quizzes.html' %}
        {% include 'quiz/floating-button.html' %}
      {% endif %}
      <!-- ============================================= -->


    </body>
</html>
